@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Galada&display=swap&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}
.container-fluid {
    background-image: url('https://i.postimg.cc/nzMKHZdf/background-Tienda-Web.jpg'); 
    background-color: #f2f2f2; 
    background-repeat: no-repeat; 
    background-size:cover;
}
.altoDisplay {
    min-height: calc(100vh - 95px);
}

#contenidoInicio {
    margin-top: 300px;
    padding-left: 60px;
}
#logo {
    margin-bottom: 40px;
}

#logo h1{
    font-family: 'Galada', cursive;
    font-size: 65px;
    margin-bottom: 0;
}

#logo p{    
    font-family: 'Amita', cursive;
    font-size: 35px;
    margin-top: 0;
    -webkit-text-stroke: .5px #fff;
}

#imgInicio {
    margin-top: 160px;
    padding-right: 80px;
}

.colorFondo{
    background-color: #f2f2f2;   
}

#cabecera h1 {
    font-family: 'Galada', cursive;
    font-size: 22px;
    margin-top: 12px;
}
#cabecera p {
    font-family: 'Amita', cursive;
    font-size: 15px;
    margin-top: 17px;
}

#tituloForm h1 {   
    font-family: 'Staatliches', cursive;
}

#imgForm {
    width: 300px;
    height: 200px;
}

#formRegistrar {
    border-radius: 2%;
    box-shadow: 10px 10px 20px #888888;
}

#txtDetallesProducto input{    
    height: 150px !important;
}

#footer {    
    font-weight: bold;
    padding-left: 35px;
}

.pie {
    float: left;
}

#git {
    padding-top: 15px;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

#git a i {
    color: black;
}

#git p {
    font-size: 12px;
}