@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Galada&display=swap&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-fluid {
    background-image: url('https://i.postimg.cc/nzMKHZdf/background-Tienda-Web.jpg'); 
    background-color: #f2f2f2; 
    background-repeat: no-repeat; 
    background-size:cover;
}
.altoDisplay {
    min-height: calc(100vh - 117px);
}

.container {
    max-width:80% !important;
}

#contenidoInicio {
    margin-top: 240px;
    padding-left: 60px;
    float: left;   
}
#logo {
    margin-bottom: 10px;
}

#logo h1{
    font-family: 'Galada', cursive;
    font-size: 65px;
    margin-bottom: 0;
    color: #333;
    text-shadow: 4px 4px 8px #007BFF;
}

#logo p{      
    font-family: 'Amita', cursive;
    font-size: 35px;
    margin-top: 0;
    color: #333;  
    text-shadow: 3px 3px 4px #007BFF;
}

#imgInicio {
    float: left;
    align-items: center;
    display: flex;
    margin-top: 100px;
    padding-right: 80px;
}

#imgInicio img {
    width: 700px;
    height: 600px;
}

.colorFondo{
    background-color: #f2f2f2;   
}

#cabecera h1 {
    font-family: 'Galada', cursive;
    font-size: 22px;
    margin-top: 12px;
}
#cabecera p {
    font-family: 'Amita', cursive;
    font-size: 15px;
    margin-top: 17px;
}

#tituloForm h1 {   
    font-family: 'Staatliches', cursive;
}

h3 {   
    font-family: 'Staatliches', cursive;
    font-size: 32px;
}

#imgForm {
    width: 300px;
    height: 200px;
}

#formRegistrar {
    border-radius: 2%;
    box-shadow: 10px 10px 20px #888888;
}


.col-5th {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;;
    flex: 0 0 20% !important;
    max-width: 20% !important;
}

.card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
    
}
.card:hover{
    background: #F8F9FA !important;
}



.card a img {
    height: 250px;
}

.modal-content {
    background-image: url('https://i.postimg.cc/nzMKHZdf/background-Tienda-Web.jpg'); 
    background-color: #f2f2f2; 
    background-repeat: no-repeat; 
    background-size:cover;
}

#imgModal {
    justify-content: center;
    display: flex;
    background-color: #fff;
    /* border: 1px solid gray; */
}

#imgModal img {
    height: 250px;
}

#footer {    
    font-weight: bold;
    padding-left: 35px;
}

.pie {
    float: left;
}

#git {
    padding-top: 15px;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

#git a i {
    color: black;
}

#git p {
    font-size: 12px;
}